<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">


<!--  중복 유저 체크 -->
<select id="idCheck" parameterType="string" resultType="com.dto.MemberDTO">
select *
from member
where userid = #{userid}
</select>


<!--  회원 가입-->
<insert id="registerMember" parameterType="com.dto.MemberDTO">
 insert into member(userid, passwd, username, post, addr1, addr2, phone1, phone2, phone3, email1, email2) 
 values(#{userid},#{passwd},#{username},#{post},#{addr1},#{addr2},#{phone1},#{phone2},#{phone3},#{email1},#{email2})
</insert>

<!-- 유저 세션 용도 정보조회 -->
<select id="selectUserSessionInfo" parameterType="com.dto.RequestLoginDTO" resultType="com.dto.ResponseSessionInfoDTO">
  select userid, username from member
  where userid=#{userid} and passwd=#{passwd}
</select>

<!-- 유저 프로필 정보 조회 -->
<select id="selectUserProfile" parameterType="string" resultType="com.dto.ResponseUserProfileDTO">
select userid, passwd, username, post, addr1, addr2, phone1, phone2, phone3, email1, email2
from member
where userid = #{userid}
</select>

<!-- 유저 프로필 정보 수정 -->
<update id="updateUserProfile" parameterType="com.dto.MemberDTO">
	update member
	set post=#{post}, addr1=#{addr1}, addr2=#{addr2}, phone1=#{phone1}, phone2=#{phone2}, phone3=#{phone3}, email1=#{email1}, email2=#{email2}
	where userid=#{userid}
</update>
</mapper>